//Introdução

$width: 100%;
$font-size: 1.2rem;
$background: #962acd;
$color:#fff;
$border-style: solid 1px $color;

$width-rem: 3.5rem;
$width-px: 300px;
$width: 300;

//Fim da Introdução

// Variáveis

$font: "Lucida Grande";
$weight: bold;

$bg: blue;
$bg-section: rgba(0, 0, 0, 0.7);
$font-color: #ffffff;

$color-light: false;
$color-dark: true;
$color-dark: null;

$animals: puma, sea-slug, egret, salamander;
$animals: pula sea-slug egret salamander;
$animals: "puma", "sea-slug", "egret", "salamander";

$margin: 10px 20px 15px 20px;

$social: (
    facebook: #3b5998,
    flickr: #0063db,
    github: #4183c4,
    googleplus: #dd4b39,
    instagram: #517fa4,
    linkedin: #007bb6,
    pinterest: #cb2027,
    soundcloud: #f60,
    twitter: #00aced,
    youtube: #b00
);

// Fim de Variáveis

// Interpolação

$name: destaque;
$attr: border;

// Fim de Interpolação

// Introdução

nav{
    background: $background;
    color: $color;
    width: $width;
    font-size: $font-size;
}

aside{
    width: $width-px;
}

// Fim da Introdução

// Variáveis

section{
    font-family: $font;
    font-weight: $weight;
}

body{
    background: $bg;
    color: $font-color;
}

section{
    background: $bg-section;
    margin: $margin;
}

// Fim de Variáveis

// Interpolação

p.#{$name}{
    #{$attr}-color: blue;
}

p{
    $font-size: 12px;
    $line-height: 30px;
    font: #{$font-size}/#{$line-height};
}

// Fim de Interpolação

// Extend

.msg{
    border:1px solid;
    padding: 4px;
    text-align: center;
}

.msg-error{
    @extend .msg;
    border-color: #ff0000;
    color:#ff0000;
}

.msg-alert{
    @extend .msg;
    border-color: #ff8e00;
    color: #ff8e00;
}

a:hover{
    color: #fff;
    text-decoration:underline;
}

.hoverlink{
    @extend a:hover;
    color:#000;
}

.error{
    border: 1px #f00;
    background-color: #fdd;
}

.attention{
    font-size: 3em;
    background-color: #ff0;
}

.seriousError{
    @extend .error;
    @extend .attention;
    border-width: 3px;
}

// Fim do Extend